/* scroll */
.js [data-anime="scroll"] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-30px, 0, 0);

  transition: all .5s ease-in-out;
}

[data-anime="scroll"].js-ativo {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}